extends layout

block content
  h1= title
  h2= "Ongoing Tournaments"
  each tournament in currentTournaments
    p <b>!{tournament.name} - !{tournament.location} from !{tournament.start_date} to !{tournament.end_date} </b>
    each game in tournament.games
      p !{teamsMap.get(game.team1_id)} vs !{teamsMap.get(game.team2_id)} on !{game.start_time}
  h2= "Upcoming Tournaments"
  each tournament in upcomingTournaments
    p !{tournament.name} - !{tournament.location} from !{tournament.start_date} to !{tournament.end_date}
  h2= "Completed Tournaments"
  each tournament in pastTournaments
    p !{tournament.name} - !{tournament.location} from !{tournament.start_date} to !{tournament.end_date}
